.customize

  .header
    p Customize this Calendar

  .body
    ul.colors
      li.color-customization
        .header-box
          .color-selector(style="background-color:"+headerColor)
          .selected-color-id(data-name="headerColor", data-val="true")=headerColor
        .label Header Color

      li.background-color
        .header-box
          .color-selector(style="background-color:"+backgroundColor)
          .selected-color-id(data-name="backgroundColor", data-val="true")=backgroundColor
        .label Background Color

      li.highlight-color
        .header-box
          .color-selector(style="background-color:"+highlightColor)
          .selected-color-id(data-name="highlightColor", data-val="true")=highlightColor
        .label Highlight Color

    .dashed

    ul.view-selector
      li.list-view List View
      li.month-view.active Month View

    .dashed

    .select-font-label Select Font:
    select.font-selector(data-name="fonts", data-val="true")
      option(value="Open Sans, Helvetica, Sans-serif") Open Sans, Helvetica, Sans-serif
      option(value="Bananas, Tiny Apples, Yellow Boat") Bananas, Tiny Apples, Yellow Boat
      option(value="Comic Sans, Lucida Grande, Water Bottle") Comic Sans, Lucida Grande, Water Bottle

    .line

    .embed-code
      .title Embed Code
      .label
        | Copy this code into your website to embeded your calendar.
      .embed-code-box
        pre