.customize

  .header
    p Customize this Calendar

  .body
    ul
      li.color-customization
        .header-box
          .color-selector
          .selected-color-id #ed4343
        .label Header Color

      li.background-color
        .header-box
          .color-selector
          .selected-color-id #f9f9f9
        .label Background Color

      li.highlight-color
        .header-box 
          .color-selector
          .selected-color-id #8380bd
        .label Highlight Color