.customize

  .header
    p Customize this Calendar

  .body
    ul
      li
        .label.header-color-picker 
          .selected-color
          .selected-color-id #ed4343
        .label.header-color-label Header Color