.customize

  .header
    p Customize this Calendar

  .body
    ul
      li
        .label.header-color-picker 
          .header-color
          | #ed4343
        .label.header-color-label Header Color