form#cal-event(method="post", enctype="multipart/form-data", action="/events/create")
  input.id(type="string", value=cal_id, name="calendar_id")

  .header
    p New Event Title
    .close ×

  .body
    .row
      input(type="number", name="date", hidden)
      select.from(name="from")
        - for(var i = 0; i < 24; ++i)
          - if (i < 24)
            - val = i%12+1 + ":" + "00 " + (i < 12 ? "am" : "pm");
            option(value=val)= val
      span.between to
      select.to(name="to")
        - for(var i = 0; i < 24; ++i)
          - if (i < 24)
            - val = i%12+1 + ":" + "00 " + (i < 12 ? "am" : "pm");
            option(value=val)= val

    input(type="text", placeholder="location", name="location")
    input(type="text", placeholder="info", name="info")
    input(type="submit", value="Create This Event")
