form.event(method="post", enctype="multipart/form-data", action="/events/create")
  input.id(type="number", value=cal_id, name="calendar_id")

  .header
    p New Event Title
    .close ×

  .body
    .row
      select.from
        - for(var i = 0; i < 24; ++i)
          - if (i < 24)
            option= i%12+1 + ":" + "00 " + (i < 12 ? "am" : "pm")
      span.between to
      select.to
        - for(var i = 0; i < 24; ++i)
          - if (i < 24)
            option= i%12+1 + ":" + "00 " + (i < 12 ? "am" : "pm")

    input(type="text", placeholder="location", name="location")
    input(type="text", placeholder="info", name="info")
    input(type="submit", value="Create This Event")
