doctype 5
html
  head
    title Client-Side Sample
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:700,400')
  body
    #cal

  script(src='http://jenius-radical.jitsu.com/embed/js/517d33d1132de10000000003.js')
  script radical('#cal')

  != livereload
