doctype 5
html
  head
    title Client-Side Sample
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:700,400')
  body
    #cal

  script(src='/embed/js/517cb9358923a5c97d000005.js')
  script radical('#cal')

  != livereload
