extends layout

block scripts
  != js("in_app/creation")

block content
  #cal
  form(method="post", enctype="multipart/form-data", action="/events/create")
    select.from
      option 10:30PM
      option 11:00
    br/
    select.to
      option 10:30PM
      option 11:00
    br/
    input(type="text", placeholder="location", name="location")
    br/
    input(type="text", placeholder="info", name="info")
    br/
    input(type="submit") Create This Event
