extends layout

block scripts
  != js("in_app/creation")

block content
  #wrap
    #overlay
      h2 Lauching at TechCrunch Disrupt
      | <a href="https://twitter.com/sam_saccone" class="twitter-follow-button" data-show-count="false">Follow @sam_saccone</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      | <a href="https://twitter.com/jescalan" class="twitter-follow-button" data-show-count="false">Follow @jescalan</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      | <a href="https://twitter.com/carlsednaoui" class="twitter-follow-button" data-show-count="false">Follow @carlsednaoui</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    #cal
    include _event
    include _customize
