doctype 5
html
  head
    title= title
  body
    block content

  != css('main')
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
  != js('thyme')
  != js('main')
  != livereload