doctype 5
html
  head
    != css('main')
    != css('picker')
    != css('addtocalendar')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:700,400')
  body
    block content

  != js('jquery')
  != js('picker')
  != js('moment')
  != js('thyme')
  //- script(src='/zero_clipboard.js')
  != js('addtocalendar')
  != js('main')
  != livereload
    block scripts
