.customize
  width: 320px
  position: absolute
  background: #fff
  z-index: 2
  transition: all .2s ease-out-back


  .header
    background: blue
    color: #fff
    fs: 1em
    padding: 9px 15px
    border-radius: 4px 4px 0 0
    group()
    bold()
    position: relative

  p
    float: left
    margin: 0

  .body
    height: 660px
    border: 1px solid #caccd6
    padding: 15px

  ul.colors
    reset-list()
    bold()
    margin-bottom: 25px

    li
      group()
      margin-bottom: 15px

    .header-box
      width: 80px
      border-radius: 4px
      border: 1px solid #caccd6
      padding: 5px
      margin-right: 10px
      font-size: .8em
      background: #fcfcfc
      float: left

      .color-selector
        width: 18px
        height: 18px
        border-radius: 4px
        background: #ea4243
        float: left
        margin-right: 5px
        box-shadow: inset 0 2px 2px rgba(#000, 0.3)
        border: 1px solid darken(@background, 40%)

      .selected-color-id
        margin-top: 2px
        float: left

    .label
      margin-left: 10px
      margin-top: 7px
      font-size: .9em

  .view-selector
    group()
    bold()
    font-size: .8em
    border-radius: 4px
    border: 1px solid darken(@background, 40%)
    background: #fcfcfc
    color: #cbcbcd
    text-align: center
    margin: 20px 0
    padding: 0

    .list-view, .month-view
      display: inline-block
      width: 49%
      padding: 5px;
      -webkit-box-sizing: border-box

    .active
      background: #f9f9fa
      color: #6b6b72
      border: 1px solid darken(@background, 60%)

  .dashed
    border-top: 1px dashed #cbcbcd
  
  .select-font-label
    bold()
    margin-top: 20px
    margin-bottom: 10px

  .font-selector
    background: #fefefe
    height: 30px
    color: #6b6b72
    bold()
    font-size: .8em
    -webkit-font-smoothing: antialiased

  .line
    margin-top: 30px
    border-bottom: 1px solid #cbcbcd
    width: 319px
    margin-left: -15px
    margin-bottom: 20px

  .embed-code
    .title
      bold()
      margin-bottom: 10px

    .embed-code-box
      font-family: monospace
      margin-top: 15px
      width: 90%
      border-radius: 4px
      border: 1px solid #caccd6
      padding: 5px
      font-size: .8em
      background: #fcfcfc
      margin: 20px auto