form
  
  input[type=text]
    border: 1px solid #c7c9d4
    round: 3px
    fs: .8em
    padding: .5em
    font-family: 'Open Sans', helvetica-neue
    margin: 0 5px 5px 0
    color: #787887

    &:focus
      outline: 0
      border-color: #a7aaba

  select
    border: 1px solid #c7c9d4
    background: none
    -webkit-appearance: none
    fs: .8em
    padding: .5em
    font-family: 'Open Sans', helvetica-neue
    color: #787887
    margin: 0 5px 5px 0
    -webkit-font-smoothing: antialiased
    bold()

    &:focus
      outline: 0
      border-color: #a7aaba

  input[type=submit]
    button: #0471e1
    -webkit-font-smoothing: antialiased
    transition()
