@import '_settings'
normalize()
base()

header-color = #fb5658
background-color = #fff
hilight-color = #e6f3ff

@import '_calendar'
@import '_event'
@import '_customize'


#wrap
  max-width: 1000px
  margin: 0px auto

#cal
  position: relative;
  max-width: 67%;
  float: right;
  table
    box-shadow 0px 0px 6px rgba(0, 0, 0, 0.13)

.customize
  position: relative
  max-width 30%
  float: left
